<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Form</title>
    <style>
        .error{
            color: red;
        }
    </style>

</head>
<body>
<h1 class="title">Employee Form</h1>

<th:block th:if="${errorMessage}">
    <p class="error" th:text="${errorMessage}"></p>
</th:block>


<form th:action="@{/save-employee}" th:object="${employee}" method="post">
    <table>
        <tr>
            <td>First Name:</td>
            <td><input type="text" th:field="*{firstName}" /></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input type="text" th:field="*{lastName}"/></td>
        </tr>
        <tr>
            <td>Birth Date:</td>
            <td>
                <input type="text" th:field="*{birthDate}"/>
            </td>
        </tr>
        <tr>
            <td>Salary Level:</td>
            <td><input type="text" th:field="*{salaryLevel}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create Employee"></td>
        </tr>
    </table>
</form>
</body>
</html>
